vendor/lib64/libMegviiHumBokehPost-mtk.so
vendor/etc/camera/license.lic
extract_and_push.sh
system/system/apex/com.android.vndk.current.apex
system/system/app/OppoCamera/OppoCamera.apk
system/system/system_ext/priv-app/SystemUI/SystemUI.apk
system/system/system_ext/priv-app/Settings/Settings.apk
