extract_and_push.sh
vendor/etc/license.lic
vendor/etc/camera/license.lic
system/system/product/priv-app/GmsCore/GmsCore.apk
system/system/product/priv-app/Velvet/Velvet.apk
system/system/apex/com.android.runtime.release.apex
system/system/priv-app/Settings/Settings.apk
system/system/priv-app/Browser/Browser.apk
system/system/priv-app/OppoGallery2/OppoGallery2.apk
system/system/priv-app/SystemUI/SystemUI.apk
system/system/etc/camera/license_release.lic
system/system/app/OppoCamera/OppoCamera.apk
