vendor/lib64/libMegviiHumBokehPost-mtk.so
vendor/etc/license.lic
vendor/etc/camera/license.lic
.git/objects/pack/pack-6e2b306f94cb2b9829d65d8fb63864cdd18a52e8.pack
system/system/product/priv-app/Velvet/Velvet.apk
system/system/priv-app/Settings/Settings.apk
system/system/priv-app/Browser/Browser.apk
system/system/priv-app/OppoGallery2/OppoGallery2.apk
system/system/app/OppoCamera/OppoCamera.apk
